################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinHelloUnlock/v15/Server/sqlite3
/.vs
/WinHelloUnlock/bin/Debug
/WinHelloUnlock/obj
